<h1>Burger-a-thon!</h1>

<h2>Make burgers and eat them!!!</h2>

<ul>
  {{#each burgers}}
    {{!-- {{#unless devoured}}
      {{> cats/cat-block sleep=true}}
    {{/unless}} --}}
  {{/each}}
</ul>



<h2>Make a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger" name="name">
  </div>

  <button type="submit">Make Burger</button>
</form>
